
vs2017/.vs/pax_tar/v15/.suo
vs2017/.vs/pax_tar/v15/Browse.VC.db
vs2017/.vs/pax_tar/v15/Solution.VC.db
vs2017/pax_tar_vcpkg_static_test/test.tar
vs2017/pax_tar_vcpkg_static_test/x64/Debug/pax_tar_.AD8D66EA.tlog/CL.command.1.tlog
vs2017/pax_tar_vcpkg_static_test/x64/Debug/pax_tar_.AD8D66EA.tlog/CL.read.1.tlog
vs2017/pax_tar_vcpkg_static_test/x64/Debug/pax_tar_.AD8D66EA.tlog/CL.write.1.tlog
vs2017/pax_tar_vcpkg_static_test/x64/Debug/pax_tar_.AD8D66EA.tlog/link.command.1.tlog
vs2017/pax_tar_vcpkg_static_test/x64/Debug/pax_tar_.AD8D66EA.tlog/link.read.1.tlog
vs2017/pax_tar_vcpkg_static_test/x64/Debug/pax_tar_.AD8D66EA.tlog/link.write.1.tlog
vs2017/pax_tar_vcpkg_static_test/x64/Debug/pax_tar_.AD8D66EA.tlog/pax_tar_vcpkg_static_test.lastbuildstate
vs2017/pax_tar_vcpkg_static_test/x64/Debug/pax_tar_.AD8D66EA.tlog/pax_tar_vcpkg_static_test.write.1u.tlog
vs2017/pax_tar_vcpkg_static_test/x64/Debug/pax_tar_examples.obj
vs2017/pax_tar_vcpkg_static_test/x64/Debug/pax_tar_vcpkg_static_test.log
vs2017/pax_tar_vcpkg_static_test/x64/Debug/vc141.idb
vs2017/pax_tar_vcpkg_static_test/x64/Debug/vc141.pdb
vs2017/pax_tar_vcpkg_static_test/x64/Debug/vcpkg.applocal.log
vs2017/x64/Debug/pax_tar_vcpkg_static_test.exe
vs2017/x64/Debug/pax_tar_vcpkg_static_test.ilk
vs2017/x64/Debug/pax_tar_vcpkg_static_test.pdb
vs2017/.vs/pax_tar/v15/Browse.VC.opendb
vs2017/.vs/pax_tar/v15/Solution.VC.db-shm
vs2017/.vs/pax_tar/v15/Solution.VC.db-wal
